<h2>Books</h2>

<% @books.each do |book| %>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <tr>
      <th></th>
        <th><%= book.title %></th>
      <th><%= book.body %></th>
    </tr>
  </tbody>
</table>
<% end %>